body
{
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav
{
    padding: 9px 0;
}

.field-validation-error
{
    color: #B94A48;
}

.box
{
    position: relative;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


#clock
{
    font-size: 25px;
    margin-top: 6px;
}
#bigclock 
{
    margin: 25px;
    font-size:5.3em;
    font-weight: bolder;
}
#myModal {
    display: none;
}

.span2, .span10{
    background-color: rgb(210, 219, 233);
    padding: 10px;
     -webkit-border-radius: 7px;
    
}

.game {
    background-color: white;
    padding: 5px;
     -webkit-border-radius: 7px;
}

.game p {
    padding: 2px;
    font-style: italic;
}
.game #correct {
    color: rgb(220, 12, 12);
    font-style: normal;
    font-weight: bold;
    }