@{
    ViewBag.Title = "Arash";
}

<div class="hero-unit">
    <object width="250" height="40" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="gsSong2335364011" name="gsSong2335364011"><param name="movie" value="http://grooveshark.com/songWidget.swf" /><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=cowbell.grooveshark.com&songIDs=23353640&style=metal&p=0" /><object type="application/x-shockwave-flash" data="http://grooveshark.com/songWidget.swf" width="250" height="40"><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=cowbell.grooveshark.com&songIDs=23353640&style=metal&p=0" /><span>Playmate In Paradise by <a href="http://grooveshark.com/artist/Klaus+Schulze/78348" title="Klaus Schulze">Klaus Schulze</a> on Grooveshark</span></object></object>


    <h1>
        <img src="../../Content/images/me.jpg" alt='' id='me' />
        @ViewBag.Message
    </h1>

    <table class="table table-hover table-bordered">
      
        <tbody>
            <tr>
                <td>
                    Adress
                </td>
                <td>
                    Sägengatan 55a, 42258 HisingsBacka
                </td>
            </tr>
            <tr>
                <td>
                    Telefon
                </td>
                <td>
                    073-7307864
                </td>
            </tr>
            <tr>
                <td>
                    Civilstånd
                </td>
                <td>
                    Gift
                </td>
            </tr>
            <tr>
                <td>
                    Född
                </td>
                <td>
                    1978
                </td>
            </tr>
            <tr>
                <td>
                    E-Post
                </td>
                <td>
                    afaghi@gmail.com
                </td>
            </tr>
        </tbody>
    </table>

    <div id='starter'>
    </div>
</div>
<!-- Example row of columns -->
<div class="row-fluid">
    <div class="tabbable">
        <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab"> Om Mig</a></li>
            <li><a href="#tab2" data-toggle="tab"> Aebetslivserfarenhet </a></li>
            <li><a href="#tab3" data-toggle="tab">Kompetens</a></li>
            <li><a href="#tab4" data-toggle="tab">Utbildning och Kurser</a></li>
            <li><a href="#tab5" data-toggle="tab">Personliga intressen</a></li>
            <li><a href="#tab6" data-toggle="tab">Twitter Feed</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
          
                <h4>
                     Om Mig</h4>
                     <hr />
                <p>
                    Jag är en mjukvaruutvecklare med inriktning på SOA lösningar. De senaste två åren
                    har jag arbetat med vidareutveckling, integration och uppdatering av olika projekter
                    som ett webbaserat schemaläggningssystem på Java men söker nya utmaningar i form
                    av mer avancerade problemlösningar i .Net. Jag har gedigna kunskaper inom de tekniska
                    områden som ni arbetar med anmäler jag mitt intresse till systemutvecklare/webutvecklare
                    tjänster med inriktning .Net.</p>
                <p>
                    I mina tidigare utvecklingsuppdrag vilka de senaste två åren uteslutande har handlat
                    om systemförvaltning har jag fått förtroendet att självständigt ta fram lösningar
                    baserat på information från beställaren. Vidare har jag en gedigen teknisk utbildning
                    och djupa kunskaper om C#-programmering, ramverk, webb standarder, teknisk modellering,
                    databasdesign och SOA lösnignar. Denna erfarenhet gör att jag känner mig trygg att
                    söka till den utannonserade tjänsten och hoppas att få träffa er för att både få
                    och ge mer information.
                </p>
                <p>
                    Förutom avancerad systemutveckling har jag kompetens att utvärdera lösningar samt
                    att ta beslut om teknik, men också att se till att tekniken är applicerbar på verksamheten.
                    Jag arbetar gärna i grupp och min målmedvetenhet i kombination med en genuin önskan
                    att dela med mig av mina kunskaper uppskattas stort av mina arbetskamrater. Sammanfattningsvis
                    kan jag säga att min erfarenhet lämpar sig utmärkt för en utvecklareroll där jag
                    kommer att kunna växla från en stark lösningsfokus till att ta ett större övergripandeansvar
                    för användningen av Arbetsförmedlingens befintliga system. Vänliga hälsningar</p>
            </div>
            <div class="tab-pane" id="tab2">
                <h4>
                    Aebetslivserfarenhet</h4>
                     <hr />
                <ul>
                    <li><a href='#period1'>2009/01-2010/10</a> </li>
                    <li><a href='#period2'>2005/12-2008/11</a> </li>
                    <li><a href='#period3'>2005/02-2005/10</a> </li>
                    <li><a href='#period4'>2004/06-2005/01</a> </li>
                    <li><a href='#period5'>2002/01-2004/05</a> </li>
                </ul>
                <div id='period1'>
                    <h3>
                        Efficient ab Stockholm
                    </h3>
                    <h4>
                        2009/01-2010/10</h4>
                    <p>
                        Efficient ab Stockholm. Befattning: systemutvecklare och systemdesigner; Jag jobbade
                        med utvecklingen av en webbaserad schemaläggningsprogram Eschema, för olika företag
                        för lättare personalhantering.</p>
                    <p>
                        Systemet tar hand om allt från schemaskapandet till lönerapportering. Systemet har
                        utvecklats i ASP .Net(1.1) och C#. Jag var involverad i uppgradera av systemet 2
                        gånger, en gång från. NET 1.1 till 3,5 (vs2003-vs2008) och en gång från 3,5 till
                        4 (vs2008-vs2010). i företaget beslutat de att byta Eschmea till en ny SOA applikation.
                        Så vi utvecklat en tjänst med WCF och en kund med Asp.Net MVC 2. Den WCF-tjänst
                        består av Data lager, Business lager och Service Lager. i datalager vi använder
                        Entity Framework för att kommunicera med MS-SQL sedan exponera endpointer i service
                        lager med WSDL. i cilent sida vi använder en proxy för att tala med tjänsten. Vi
                        har utvecklat en RESTfull interface för klientsidan så att varje sida kan tala med
                        en Ajax-engine (en controller) via jQuery Ajax.</p>
                    <p>
                        Jag jobbade även med testenhetens i både klient-och serversidan. Jag arbetade även
                        med ett webbaserat skolsystem . Det systemet registerar studenter, lärare, klasser,
                        tentor och allt som hör till en skola. Systemet har utvecklats i PHP och MySQL och
                        använder Ajax med jQuery.
                    </p>
                    <a href="#starter"><i class="icon-circle-arrow-up"></i>Till Listan</a>
                </div>
                <hr />
                <div id='period2'>
                    <h3>
                        EIE Europe Branch
                    </h3>
                    <h4>
                        2005/12-2008/11</h4>
                    <p>
                        EIE Europe Branch företag i tyskland. Befattning :Teknisk Inspektör; Inget direkt
                        IT relaterat jobb. Mitt jobb var att inspektera olika varor och jämföra dem med
                        avtalet(performa invoice) och standarder.</p>
                    <p>
                        När ett företag utanför EU vill köpa något inom EU är det billigare för dem att
                        anställa en professionell inspektör för att inspektera deras goda före leverans
                        än skicka en inspektör från utanför EU. Jag inspekted ett stort utbud av produkter
                        huvudsakligen tekniska produkter som CNC, tunga maskiner, industriell produktionslinjer
                        och mer.</p>
                    <p>
                        som en inspektör var jag tvungen att resa hela tiden i Tyskland, Holand, Belgien
                        och Frankrike. Det var ett stort ansvar eftersom vissa av de produkter kostar över
                        miljon euro.
                    </p>
                    <a href="#starter"><i class="icon-circle-arrow-up"></i>Till Listan</a>
                </div>
                <div id='period3'>
                    <h3>
                        Sahlgreska Götrborg</h3>
                    <h4>
                        2005/02-2005/10</h4>
                    <p>
                        Sahlgreska Götrborg. Befattning : Systemutvecklare ; Projektet var att förbättra
                        applikationen vi gjorde förra året och lägga till ett webbgränssnitt. vi använde
                        Asp.net och C # (. Net 1.1).</p>
                    <p>
                        på grund av att använda patientens personnummer vi var tvungna att göra webbgränssnittet
                        internt och använd bara begränsad tillgång till applikationen. så vi sätt säkerheten
                        över Stored Procedure tillsammans med app och utvecklade ett diagrambibliotek till
                        för webbpresentation. vi var tvungna att använda en annan sökalgoritm för webben
                        eftersom det inte kunde vara dynamisk längre. Jag har medverkat i nästan varje del
                        av projektet.
                    </p>
                    <a href="#starter"><i class="icon-circle-arrow-up"></i>Till Listan</a>
                </div>
                <div id='period4'>
                    <h3>
                        Sahlgreska Götrborg</h3>
                    <h4>
                        2004/06-2005/01</h4>
                    <p>
                        Sahlgreska Götrborg. Befattning : Systemutvecklare och Systemdesigner; i projektet
                        vi designat ett Windows applikation som kunde läsa patientdata från ett gammalt
                        system och injicera det i en ny databas, analysera data och ge motsvarande diagram.</p>
                    <p>
                        Projektets målsättning var att genomföra ett forskningsprojekt som kallas PLM (Posturo-Locomotion-Manual),
                        spårning patientens rörelser med 3 kameror och 8 markörer på patientens medan de
                        var under påverkan av olika droger och analysera effekten av varje läkemedel baserat
                        på rörelse av patienten. Vi använde .Net 1.1 , C # och Microsoft Excel för diagram.
                    </p>
                    <p>
                        Den största utmaningen var att göra applikationen så användarvänlig som möjligt
                        eftersom de flesta användare inte hade någon IT-bakgrund.
                    </p>
                    <a href="#starter"><i class="icon-circle-arrow-up"></i>Till Listan</a>
                </div>
                <div id='period5'>
                    <h3>
                        Emwac (Europian Microsoft Windows Academic Center)
                    </h3>
                    <h4>
                        2002/01-2004/05</h4>
                    <p>
                        Emwac (Europian Microsoft Windows Academic Center) Befattning: systemutvecklare
                        och Systemdesigner; Jag var inblandad i många olika projekt. Jag designade ett komplett
                        CMS-system från grunden för Emwac hemsida. Jag använde "windows integrated Authentication"
                        och kopplas webbapplikation för Active Directory.
                    </p>
                    <p>
                        Ett annat projekt var en automatiserad RSS byggare gör RSS-feed från XHTML och göra
                        den tillgänglig via JavaScript-kod, så kunde implementeras i en webbplats. Ett annat
                        projekt var ett shoppingsystem Windows-applikation designad med C # och. Net 1,1
                        läsa streckkoder och visa pris och ta hand om lager .
                    </p>
                    <a href="#starter"><i class="icon-circle-arrow-up"></i>Till Listan</a>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <h4>
                    Kompetens</h4>
                     <hr />
                <table class="table table-hover table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <strong>Programspråk </strong>
                            </td>
                            <td>
                                <em>C#, C++, C, Java, PHP, SQL, HTML(xhtml),CSS, JavaScript, Pascal.</em>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Plattformar </strong>
                            </td>
                            <td>
                                <em>Windows, Linux. (server och client).</em>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Databaser </strong>
                            </td>
                            <td>
                                <em>Ms-SQL, MySql, Oracle,SQLite,NO SQL</em>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Verktyg </strong>
                            </td>
                            <td>
                                <em>Visual Studio, .Net, Eclipse, NetBeans, Entity Framework,Linq, jQuery,YUI, GWT,
                                    google ajax API,Hibernate, Ado.net, Asp.net, MVC, Zend Framework, memcached,Spring
                                    Framework, Maven.</em>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Metoder</strong>
                            </td>
                            <td>
                                <em>Ajax,SEO, SOA, ORM, WCF, WPF, Scrum (Agile Software Development), TDD(Test-driven
                                    development)</em>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="tab4">
                <h4>
                    Utbildning och Kurser</h4>
                <hr />
                <section id='utbildningar'>
                <h5>Utbildningar</h5>
                    <ul>
                        <li>2002-2004  högskolan Dalarna (datainjenjör 120p)</li>
                         <li>1997-2000 högskolan I Iran (mjukvaru utvecklare 80p)</li>
                  
                    </ul>
                    </section>
                <section id='kurser'>                    <h5>Kurser</h5>
                      <ul>
                        <li>MS-SQL 2000 (emwac)</li>
                         <li>.Net utveckling (emwac)</li>
                          <li>Nätverk administratör : MS-Windows 2003 server, IIS, FTP, DFS, AD, … . (emwac)</li>
                             <li>Sharepoint development</li>
                              <li>Scrum development method</li>
                               <li>Advanced Ajax with Json</li>
                    </ul>
                    </section>
            </div>
            <div class="tab-pane" id="tab5">
                <h4>
                    Personliga intressen</h4>
                <hr />
                <h5>Språk</h5>
                <ul>
                    <li>Engelska</li>
                    <li>Svenska</li>
                    <li>Persiska</li>
                    <li>Turkiska</li>
                </ul>
                <h5>Personliga intressen</h5>
                <ul>
                    <li>Fotografi</li>
                    <li>Skior</li>
                    <li>Böker</li>
     
                </ul>
            </div>
            <div class="tab-pane" id="tab6">
                <a class="twitter-timeline" href="https://twitter.com/BlizzardCS" data-widget-id="251231307441520640">Tweets by BlizzardCS</a>
<script>    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>

            </div>
        </div>
    </div>
</div>

