@{    
    if (Request.QueryString["layout"] == "fluid")
    {
        ViewBag.Title = "Home Page Fluid Layout";
        ViewBag.Message = "Bootstrap Fluid Layout";
        Layout = "~/Views/Shared/_LayoutFluid.cshtml";
    }
    else
    {
        ViewBag.Title = "Lab 2";
        ViewBag.Message = "Welcome";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>
        @ViewBag.Message</h1>
    <div class="box">
        JavaScrip Clock :
        <div id="bigclock">
        </div>
    </div>
    <p>
        <a href="#myModal" role="button" class="btn  btn-primary btn-large" data-toggle="modal"
            data-target="#myModal">View Code &raquo;</a></p>
</div>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
        <h3 id="myModalLabel">
           clock.js code</h3>
    </div>
    <div class="modal-body">
    
         <pre class="prettyprint">
            function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            // add a zero in front of numbers<10
            m = checkTime(m);
            s = checkTime(s);

            var day = today.getDate();
   
            var mon = today.getMonth();
            var year = today.getYear();
            year = (year < 1000) ? year + 1900 : year;
            document.getElementById('clock').innerHTML = year + '/' + mon + '/' + day + '--' + h + ":" + m + ":" + s;
            document.getElementById('bigclock').innerHTML = year + '/' + mon + '/' + day + '--' + h + ":" + m + ":" + s;
            t = setTimeout(function () {
            startTime()
            }, 500);
            }
       
            function checkTime(i) {
            if (i < 10) {
            i = "0" + i;
            }
            return i;
            }
            </pre>
      
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Close</button>
       
    </div>
</div>
<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
        <h2>
            Heading</h2>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
            <a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>
            Heading</h2>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
            <a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>
            Heading</h2>
        <p>
            Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
            Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p>
            <a class="btn" href="#">View details &raquo;</a></p>
    </div>
</div>
