@{    
    if (Request.QueryString["layout"] == "fluid")
    {
        ViewBag.Title = "Home Page Fluid Layout";
        ViewBag.Message = "Bootstrap Fluid Layout";
        Layout = "~/Views/Shared/_LayoutFluid.cshtml";
    }
    else
    {
        ViewBag.Title = "Lab 2";
        ViewBag.Message = "Welcome";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>
        @ViewBag.Message</h1>
    <div class="box">
        JavaScrip Clock :
        <div id="bigclock">
        </div>
    </div>
    <p>
        <a href="#myModal" role="button" class="btn  btn-primary btn-large" data-toggle="modal"
            data-target="#myModal">View Code &raquo;</a></p>
</div>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
        <h3 id="myModalLabel">
           clock.js code</h3>
    </div>
    <div class="modal-body">
    
         <pre class="prettyprint">
            
            </pre>
      
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Close</button>
       
    </div>
</div>
<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
        <h2>
            JS nummergissarspel</h2>
        <p>
            nummergissarspel med js
        </p>
        <p>
         
            <a class="btn" href="@Url.Content("~/game/jsgame")">spela &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>
           Postback nummergissarspel</h2>
        <p>
            nummergissarspel med Postback
        </p>
        <p>
             <a class="btn" href="@Url.Content("~/game/Postbackgame")">spela &raquo;</a></p>
    </div>
  
</div>
