@{
    ViewBag.Title = "jsgame";
}
<div class="game">
     <legend>JS Nummergissarspel</legend>
                              <label>Gissa</label>
                              <input type="text" placeholder="Gissa ett nummer..." id="js-game-input">
                              <span class="help-block">Nummer är mellan 1-10</span>
                             
                              <button type="submit" class="btn" id="js-game-submit">Submit</button>
                      
                           <div id="js-game-results"></div>
</div>