@{
    ViewBag.Title = "postbackgame";
}

  @using (Html.BeginForm("Postbackgame", "game", FormMethod.Post))
                                {
                                    @Html.ValidationSummary(true)
                                    <legend>PostBack Nummergissarspel</legend>
                                    <fieldset>
                                        <label>Gissa</label> <input type="text" name="pbgameinput" placeholder="Gissa ett nummer..."/>
                                         <span class="help-block">Nummer är mellan 1-10</span>
                                        <input type="submit" value="Submit" class="btn" id="pb-game-submit" />
                                    </fieldset>
                                }
                                
                             
<p>  @ViewBag.tries    @ViewBag.GameMessage </p>
